<ion-content color="primary">
	<ion-row style="height:50px"></ion-row>
	<div style="text-align:center">
		<span style="font-weight:550;font-size:1.5em">Register</span>
	</div>
	<ion-grid>
		<ion-row style="height:90px;padding-top:5px">
			<ion-avatar style="width:90px;height:95px;margin-left:auto;margin-right:auto;">
				<img style="border-radius:50%;width:90px!important;height:90px!important;max-width:none!important" src="{{profile.img}}"/>
			</ion-avatar>
		</ion-row>
		<ion-row style="padding-top:15px">
			<ion-item lines="full" style="width:100%;border-top:1px solid #c2c2c2">
				<ion-label style="font-weight:550">Full Name</ion-label>
				<ion-input [(ngModel)]="profile.name" placeholder="Full Name"></ion-input>
			</ion-item>
			<ion-item lines="full" style="width:100%">
				<ion-label style="font-weight:550">Current Occupation</ion-label>
				<ion-input [(ngModel)]="profile.job" placeholder="Current Occupation"></ion-input>
			</ion-item>
			<ion-item lines="full" style="width:100%">
				<ion-label style="font-weight:550">Education</ion-label>
				<ion-input [(ngModel)]="profile.education" placeholder="Education"></ion-input>
			</ion-item>
			<ion-item lines="full" style="width:100%">
				<ion-label style="font-weight:550;padding-right:5px">Bio</ion-label>
				<ion-textarea [(ngModel)]="profile.bio" style="height:100px"></ion-textarea>
			</ion-item>
		</ion-row>
		<ion-row style="padding-top:5px;background-color:white;color:black">
			<ion-col size="12">
				<span style="font-weight:550;float:left">Work Experience</span>
			</ion-col>
			<ion-list style="margin:0;width:100%">
				<ion-item style="padding-top: 5px;width: 85%;margin:0 auto" *ngFor="let job of profile.jobs">
					<ion-avatar slot="start" style="height:50px;width:50px;">
						<img src="{{job.img}}">
					</ion-avatar>
					<ion-label style="line-height:1.1">
						<span style="font-size:0.9em;font-weight:550">{{job.title}}</span>
						<br/>
						<span style="font-size:0.8em;">{{job.company}}</span>
						<br/>
						<span style="font-size:0.8em">{{job.dates}}</span>
					</ion-label>
					<ion-avatar slot="end" (click)="removeJob(job)">
						<ion-icon name="close-circle-outline" size="large"></ion-icon>
					</ion-avatar>
				</ion-item>
				<ion-item lines="full" style="width: 85%;margin:0 auto" color="primary" (click)="addJob()">
					<ion-label>
						Add Work Experience
					</ion-label>
					<ion-avatar slot="end">
						<ion-icon name="add-circle-outline" size="large"></ion-icon>
					</ion-avatar>
				</ion-item>
				<div>
				<ion-item style="width: 85%;margin:0 auto">
					<ion-label style="font-weight:550">Job Title</ion-label>
					<ion-input [(ngModel)]="job.title" placeholder="Title" text-right></ion-input>
				</ion-item>
				<ion-item style="width: 85%;margin:0 auto">
					<ion-label style="font-weight:550">Company</ion-label>
					<ion-input [(ngModel)]="job.company" placeholder="Company" text-right></ion-input>
				</ion-item>
				<ion-item style="width: 85%;margin:0 auto">
					<ion-label style="font-weight:550">Start Date</ion-label>
					<ion-datetime [(ngModel)]="job.start" display-format="MMM DD, YYYY" placeholder="Start Date"></ion-datetime>
				</ion-item>
				<ion-item style="width: 85%;margin:0 auto">
					<ion-label style="font-weight:550">End Date</ion-label>
					<ion-datetime [(ngModel)]="job.end" display-format="MMM DD, YYYY" placeholder="End Date"></ion-datetime>
				</ion-item>
				</div>
			</ion-list>
			<div style="height:10px;width:100%"></div>
			<ion-col size="12">
				<span style="font-weight:550;">Skills</span>
			</ion-col>
			<ion-row style="width:100%">
				<ion-list style="width:100%;margin:0;">
					<ion-item *ngFor="let skill of profile.skills" lines="full" style="width: 85%;margin:0 auto">
						<ion-label>
							<span>{{skill}}</span>
						</ion-label>
						<ion-avatar slot="end" (click)="removeSkill(skill)">
							<ion-icon name="close-circle-outline" size="large"></ion-icon>
						</ion-avatar>
					</ion-item>
					<ion-item lines="full" style="width: 85%;margin:0 auto;" color="primary">
						<ion-input [(ngModel)]="skill" placeholder="Add Skill" (keyup.enter)="addSkill()"></ion-input>
						<ion-avatar slot="end" (click)="addSkill()">
							<ion-icon name="add-circle-outline" size="large"></ion-icon>
						</ion-avatar>
					</ion-item>
				</ion-list>
			</ion-row>			
			<div style="height:10px;width:100%"></div>
			<ion-col size="12">
				<span style="font-weight:550">Interests</span>
			</ion-col>
			<ion-row style="width:100%;padding-bottom:8px">
				<ion-list style="width:100%;margin:0">
					<ion-item *ngFor="let interest of profile.interests" lines="full" style="width: 85%;margin:0 auto">
						<ion-label>
							<span>{{interest}}</span>
						</ion-label>
						<ion-avatar slot="end" (click)="removeInterest(interest)">
							<ion-icon name="close-circle-outline" size="large"></ion-icon>
						</ion-avatar>
					</ion-item>
					<ion-item lines="full" style="width: 85%;margin:0 auto" color="primary">
						<ion-input [(ngModel)]="interest" placeholder="Add Interest" (keyup.enter)="addInterest()"></ion-input>
						<ion-avatar slot="end" (click)="addInterest()">
							<ion-icon name="add-circle-outline" size="large"></ion-icon>
						</ion-avatar>
					</ion-item>
				</ion-list>
			</ion-row>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons>
			<ion-button expand="block" fill="solid" size="default" color="#0077B5" style="margin-left:auto;width:50%;background-color:#0077B5!important;border-radius:0.25rem">
				<ion-icon name="logo-linkedin"></ion-icon>
				&nbsp;Connect&nbsp;
			</ion-button>
			<ion-button expand="block" fill="solid" size="default" color="#459758" style="margin-right:auto;width:50%;background-color:#459758!important;border-radius:0.25rem" (click)="save()">
				<ion-icon name="save"></ion-icon>&nbsp;&nbsp;Save&nbsp;&nbsp;
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>