<ion-header>	
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" defaultHref="/tabs/tab3"></ion-back-button>
		</ion-buttons>
		<ion-item lines="none">
			<ion-avatar slot="start">
				<img src="{{member.img}}"/>
			</ion-avatar>
			<ion-label>
				<span>{{member.name}}</span>
			</ion-label>
		</ion-item>
		<ion-buttons slot="end" style="padding-right:5px">
			<ion-icon name="menu" size="large"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item *ngFor="let message of filteredMessages" lines="none">
			<ion-avatar slot="{{message.from == loggedInUser ? 'end' : 'start'}}">
				<img src="{{message.from == loggedInUser ? img : members[message.from-1].img}}"/>
			</ion-avatar>
			<ion-label text-wrap>
				<div style="border-radius:1.3rem;" [ngClass]="{ 'mentor-chat': message.from != loggedInUser, 'mentee-chat': message.from == loggedInUser}">
					<div style="margin:0 auto;width:85%;padding:5px 0">
						<span style="padding:5px 0">{{message.text}}</span>
					</div>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer>
	<ion-input [(ngModel)]="messageText" placeholder="  Type a message" style="border:1px solid #e5e3e3" (keyup.enter)="sendMessage()"></ion-input>
</ion-footer>