<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar (click)="visitProfile()">
        <img src="../../assets/photos/jeffrey-parkhouse.jpg">
      </ion-avatar>
      <span style="padding-left:15px">Settings</span>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item lines="full">Account</ion-item>
		<ion-item lines="full">Privacy and safety</ion-item>
		<ion-item lines="full">Notifications</ion-item>
		<ion-item lines="full">Accessibility</ion-item>
		<ion-item lines="full">Display</ion-item>
		<ion-item lines="full">About</ion-item>
	</ion-list>
</ion-content>
