<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar routerLink="/profile/99">
        <img src="../../assets/photos/user.png">
      </ion-avatar>
      <span style="padding-left:15px">Settings</span>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item lines="full" routerLink="/profile/99">Account</ion-item>
		<ion-item lines="full">Privacy and safety</ion-item>
		<ion-item lines="full">Notifications</ion-item>
		<ion-item lines="full">Accessibility</ion-item>
		<ion-item lines="full">Display</ion-item>
		<ion-item lines="full">About</ion-item>
	</ion-list>
</ion-content>
