<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar routerLink="/profile/1">
        <img src="../../assets/photos/jeffrey-parkhouse.jpg">
      </ion-avatar>
      <span style="padding-left:15px">Home</span>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="../../assets/photos/elora-bang.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Contact</ion-card-subtitle>
        <ion-card-title>Reminder</ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding-top:0px">
        <p>You haven't contacted Elora Bang in a few weeks. Maybe you should send them a message.</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="../../assets/photos/pierre-dot.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Meeting</ion-card-subtitle>
        <ion-card-title>Reminder</ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding-top:0px">
        <p>You have a meeting scheduled with Pierre Dot in 2 days on {{ formattedDate }} </p>
      </ion-card-content>
    </ion-card>
</ion-content>
