<ion-content style="background:#1474a4">
	<div style="display:flex;align-items:center;transform:translateY(33%)">
		<img style="margin-left:auto;margin-right:auto;" src="../../assets/photos/orca.png"/>
	</div>

	<ion-grid style="padding-top:25px;transform:translateY(75%)">
		<ion-row>
			<ion-buttons style="margin-left:auto;margin-right:auto">
				<ion-button class="action-button" (click)="routeToPath('/signup')">
					Register
				</ion-button>
			</ion-buttons>
		</ion-row>
		<ion-row style="padding-top:10px">
			<ion-buttons style="margin-left:auto;margin-right:auto">
				<ion-button class="action-button" (click)="routeToPath('/login')">
					Login
				</ion-button>
			</ion-buttons>
		</ion-row>
	</ion-grid>
</ion-content>